<div flex layout="column" layout-fill>

  <hyf-side-nav title="'Navigation'"></hyf-side-nav>

  <hyf-main-toolbar title="$ctrl.appTitle" open-side-nav="$ctrl.openSidenav()"></hyf-main-toolbar>

  <md-content flex layout-align="center">
    <md-list flex-offset-gt-sm="20" flex-gt-sm="60">
      <hyf-person-item ng-repeat="person in $ctrl.persons" person="person"
                       on-click="$ctrl.onClick(id)"></hyf-person-item>
    </md-list>
  </md-content>

  <md-button class="md-fab md-fab-bottom-right" aria-label="Add" ng-click="$ctrl.addPerson($event)">
    <md-icon md-font-set="material-icons">add</md-icon>
  </md-button>

</div>